@model IEnumerable<Academico.Models.Instituicao>

    @{
    ViewData["Title"] = "Lista de Instituições";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create">Criar Nova instituição</a>
    </p>

    <table class="table">
        <thead>
        <tr class="table-secondary">
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Endereço
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
